$body-background-color: #f5f1e8;
$sidebar-color: #ede5d7;
$search-background-color: #fcfaf4;
$table-background-color: #fcfaf4;
$code-background-color: #eee6d8;
$body-text-color: #17130f;
$body-heading-color: #17130f;
$nav-child-link-color: #675d52;
$link-color: #b8492e;
$btn-primary-color: #b8492e;
$base-button-color: #e6dccb;
$border-color: #d9cebd;
